{% extends 'blogs/blog_base.html' %}

{% block blog_content %}

    <div class="row" style="margin: 50px 0">
        {% with block=blog_list|to_blocks_3 %}
        <div id="col-1" class="col-md-4">
            {% for blog in block.0 %}
                <div class="blog-image-div">
                    <img class="blog-image" src='{{blog.blog_image.url}}' alt="no image for this blog" width="100%">
                    <time class="time">
                        <p><a href="{% url 'blogs:single' username=blog.user.username pk=blog.pk %}">{{blog.created_at}}</a></p>
                    </time>
                </div>
            {% endfor %}
        </div>
        <div id="col-2" class="col-md-4">
            {% for blog in block.1 %}
                <div class="blog-image-div">
                    <img class="blog-image" src='{{blog.blog_image.url}}' alt="no image for this blog" width="100%">
                    <time class="time">
                        <p><a href="{% url 'blogs:single' username=blog.user.username pk=blog.pk %}">{{blog.created_at}}</a></p>
                    </time>
                </div>
            {% endfor %}
        </div>
        <div id="col-3" class="col-md-4">
            {% for blog in block.2 %}
                <div class="blog-image-div">
                    <img class="blog-image" src='{{blog.blog_image.url}}' alt="no image for this blog" width="100%">
                    <time class="time">
                        <p><a href="{% url 'blogs:single' username=blog.user.username pk=blog.pk %}">{{blog.created_at}}</a></p>
                    </time>
                </div>
            {% endfor %}
        </div>

        {% endwith %}
    </div>

{% endblock %}


